body {
    background-color: #0b2029;
}

h1 {
    text-align: center;
    border-bottom: 1px solid #bcdfee;
    color: #0b2029;
}

#root {
    background: white;
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
}

.form-add {
    margin: auto;
    width: 80%;
    text-align: center;
}
